/* Resetting default margin and padding */
body, h1, h2, p, ul, li, table, th, td {
    margin: 0;
    padding: 0;
}

/* Setting up basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
}

.header {
    background-color: lightblue;
    color: black;
    padding: 20px;
    text-align: center;
}

.navigation {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

.navigation ul {
    list-style-type: none;
    display: flex; /* Make the list items display horizontally */
    justify-content: center; /* Center align the list items */
}

.navigation ul li {
    margin-right: 20px;
}

.navigation ul li:last-child {
    margin-right: 0; /* Remove margin from the last list item */
}

.navigation ul li a {
    color: #fff;
    text-decoration: none;
}

.navigation ul li a:hover {
    text-decoration: underline;
}

.main-content {
    flex-grow: 1; /* Allow main content to grow to fill remaining space */
    padding: 20px;
}

.footer {
    background-color: lightblue;
    color: black;
    padding: 10px 20px;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom of the page */
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

article{
    text-align: center;
    
}